COMPOSE_PROJECT_NAME=

JWT_SECRET=

TZ=America/New_York

# Immich library (on NAS via NFS mount)
UPLOAD_LOCATION=

# Optional: where you'll store Immich backups (on NAS via NFS mount)
IMMICH_BACKUP_LOCATION=

# Database (local on NUC)
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE_NAME=

# Redis
REDIS_HOSTNAME=

DB_DATA_LOCATION=
